* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Netflix Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: linear-gradient(180deg, #141414 0%, #000 100%);
  color: #fff;
  overflow-x: hidden;
}

code {
  font-family:
    source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

h2 {
  margin-left: 20px;
  font-weight: 600;
  font-size: 1.5rem;
  color: #e5e5e5;
}
